/* this is the default body settings */

 body {
    margin: 0px;
    padding: 0px;
 }

/* animation in heading */

 @keyframes move {
    0% {
     left: 0%;
    }
    50% {
     left: 80px;
    }
    100% {
     left: 0%;
    }
 }
/* attachment of the animation */
.top1 h1 {
 position: relative;
 animation-name: move;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 animation-iteration-count: 5;
 color: rgb(242, 234, 4);
 
}

/* div "class top1" in heading */
.top1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: teal;
    font-family: "Montserrat", sans-serif;
     
}

.topnav li {
    list-style: none;
    
}

.topnav a {
    text-decoration: none;
    color: white; 
    font-size: larger; 
    
}

.topnav a:hover {
    background-color: rgb(5, 140, 46);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.topnav {
    display:inline-flex;
    justify-content:space-between;
    width: 30%;
}




#one {
    float: left;
    margin-top: 4%;
    margin-left: 14%;
    background-color:aqua;
    padding: 0%;
}

#two {
    float: left;
    margin-top: 2%;
    margin-left: 187px;
    background-color:aqua;
    padding: 0%;
}

#three {
    float: left;
    margin-top: 2%;
    margin-left: 15%;
    background-color:aqua;
    padding: 0%;
}


article p {
    float: left;
    margin-top: 1%;
    margin-left: 3%;
    
    padding: 0%;
}

section img {
    margin-top: 2%;
    display: block;
    float: right;
    margin-right: 2%;
    padding: 0vh;
    border:rgb(242, 234, 4) solid 2px;
}

p {
    margin-top: 8%;
}



#kuan {
    display: block;
    
    margin-bottom: 1px;
}

.footer {
    background-color: teal;
    padding: 2%;

}

h4 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

#bottom {
    margin-bottom: 70px;
    margin-top: 10px;
}

.footer #baba {
    text-align: center;
    color: white;
   
}

h5 {
margin-top: 500px;
}

#ako {
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer a {
    color: rgb(235, 246, 248);
    text-decoration: none;
    border: rgb(238, 255, 0) solid 2px;
    padding: 50px;
    margin-left: 50px;
   
}

.newAbout h1 {
   color: rgb(0, 21, 255);
   padding: 0%;
   margin: 50px;
   border: red solid 2px;

}

.newAbout p {
    color: red;
    border: red solid 2px;
    margin-top: 0%;
    margin-left: 40px;
}